
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientAdd</title>
    <script src="~/script/jquery-3.3.1.js"></script>
    <link href="~/script/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <table class="table table-bordered">
            <tr>
                <td>姓名：</td>
                <td><input id="Text1" type="text" /></td>
            </tr>
            <tr>
                <td>手机号：</td>
                <td><input id="Text2" type="text" /></td>
            </tr>
            <tr>
                <td>账号：</td>
                <td><input id="Text4" type="text" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input id="Text5" type="password" /></td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input id="Text6" type="password" /></td>
            </tr>
            <tr>
                <td><input id="Button1" type="button" value="注册" onclick="zhu()" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    function zhu() {
        var a = $("#Text5").val();
        var b = $("#Text6").val();
        var data = {};
        if (a == b) {
           data.CName = $("#Text1").val(),
           data.CPhone = $("#Text2").val(),
               data.CAccount = $("#Text4").val(),
                data.CPwd = a
            $.post('http://localhost:60539/Five/zhuce', data, function (d) {
                alert(d.mag);
                //跳转
            })
        } else {
            alert("两次密码输入不一致");
        }
        

    }
</script>
