
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/script/jquery-3.3.1.js"></script>
    <link href="~/script/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ClientDeng</title>
</head>
<body>
    <div> 
        <div>
            <span>用户名：</span>
            <input id="username" type="text" />
        </div>
        <div>
            <span>密码：</span>
            <input id="password" type="password"/>
        </div>
        <div>
            <input id="Button1" type="button" value="登录" onclick="deng()" />
            <input id="Reset1" type="button" value="重置" onclick="chong()" />
        
        </div>
        <div></div>
    </div>
</body>
</html>
<script>
    //重置
    function chong() {
        $("#username").val("");
        $("#password").val("");
    }
</script>
