
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zhuye</title>
</head>
<body>
    <div> 
        <div>
            <span>欢迎</span>
        </div>
    </div>
</body>
</html>
